/* Add CSS Styling */
.odd {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
    color: blue;
    font-size: 36px;
}
.large {
    font-size: 24px;
}
#fourth {
    background-color: rgb(160, 247, 160);
    font-weight: bold;
    font-size: 24px;
}