/* Add CSS Styling */
.button-one, .button-two {
    font-size: 28px;
    font-style: Helvetica, "Times New Roman", sans-serif;
}
.button-one {
    background-color: rgb(0, 0, 0);
    color: white;
}
.button-two {
    background-color: rgb(255, 255, 0);
}
